.articles-page {

    padding: 20px;
    text-align: center;
}

.articles-list {
    margin-top: 20px;
}

.article {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Makaleler arası çizgi */
    transition: all 0.3s ease; /* Animasyon süresi ve geçiş efekti */
}

.article:hover {
    background-color: #f5f5f5; /* Hover efekti için arka plan rengi */
    transform: translateY(-5px); /* Hover durumunda yukarı doğru kaydırma */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

.article h2 {
    margin: 0;
    color: #333;
}

.article p {
    color: #666;
}
